.create.button {
  padding: 25px;
}

.dash-content {
  padding: 25px 250px 75px 250px;
}

.table-box {
  border-radius: 25px;
  border: 1px solid grey;
  box-shadow: 5px 10px rgba(0,0,0,0.1);
  padding: 25px 40px 25px 40px;
}

i {
  cursor: pointer;
}

td a, td input, td img {
  vertical-align: middle;
  display: inline-block;
}

.change.password {
  padding: 25px 40px 25px 40px;
}